[submodule "lib/picoruby"]
	path = lib/picoruby
	url = https://github.com/picoruby/picoruby.git
[submodule "lib/pico-sdk"]
	path = lib/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
[submodule "lib/pico-extras"]
	path = lib/pico-extras
	url = https://github.com/raspberrypi/pico-extras.git
[submodule "lib/rp2040js"]
	path = lib/rp2040js
	url = https://github.com/wokwi/rp2040js.git
