[submodule "lib/picoruby"]
	path = lib/picoruby
	url = git@github.com:picoruby/picoruby.git
[submodule "lib/pico-sdk"]
	path = lib/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
[submodule "lib/pico-extras"]
	path = lib/pico-extras
	url = https://github.com/raspberrypi/pico-extras.git
